/* Makes landing page header the center of attention at the top of the page */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 22px;
}
/* creates the black border seperating the header from the planner content below it*/
#borderRow {
  border-bottom: 10px solid black;
  margin-top: 5rem;
  position: absolute;
  left: 0;
  right: 0;
}
/* makes each column touch each other without a gap between them. */
.col {
  padding: 0%;
}

/* moves the content of the planner towards the middle of the page */
#planner {
  margin: 10rem;
}

.present {
  background-color: red;
  font-family: 'Open Sans', sans-serif;
}

.past {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
}

.future {
  background-color: green;
  font-family: 'Open Sans', sans-serif;
}